<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=NorthwindEFModel.csdl|NorthwindEFModel.ssdl|NorthwindEFModel.msl;provider=VfpEntityFrameworkProvider;provider connection string='Provider=vfpoledb;Data Source=&quot;northwind.dbc&quot;'" providerName="System.Data.EntityClient" />
    <add name="SchemaInformation" connectionString="metadata=ConceptualSchemaDefinition.csdl|StoreSchemaDefinition.ssdl|StoreSchemaMapping.msl;provider=VfpEntityFrameworkProvider;provider connection string=&quot;Provider=VFPOLEDB.1;Data Source=Northwind.dbc;&quot;" providerName="System.Data.EntityClient" />
    <add name="DecimalEntities" connectionString="metadata=res://*/DecimalModel.csdl|res://*/DecimalModel.ssdl|res://*/DecimalModel.msl;provider=VfpEntityFrameworkProvider;provider connection string=&quot;Provider=vfpoledb;Data Source=Decimal\&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>