<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Northwind.dbc"
         connectionString="metadata=Schemas\NorthwindEFModel.csdl|Schemas\NorthwindEFModel.msl|Schemas\NorthwindEFModel.ssdl;provider=VfpEntityFrameworkProvider;provider connection string='Provider=vfpoledb;Data Source=Data\Northwind.dbc'"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>