<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ProductContext" connectionString="provider=vfpoledb;data source=Data\CodeFirst.dbc" providerName="VfpEntityFrameworkProvider" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.diagnostics>
    <sources>
      <!-- Adding the VfpClient source will allow you to see all VFP commands in the Output panel. -->
      <source name="VfpClient" switchValue="Information" >
        <!-- This listener will trace VFP commands to a text file and is intended for use in production when troubleshooting an issue. -->
        <!--<listeners>
          <add name="VfpClientTextWriterTraceListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="c:\VfpClient.txt" />
        </listeners>-->
      </source>
    </sources>
  </system.diagnostics>
</configuration>